<h2>New Post</h2>
<h3>Post Title</h3>
{{input type="text" value=title size="50"}}
<h3>Post Body</h2>
{{textarea value=body cols="80" rows="20"}}<br/>
<button {{action "submit" this}}>Create Post</button>